{% extends "layout.html" %}
{% load static %}

{% block title %} Home {% endblock %}

{% block content %}
    <div class="container">
        <header class="header">
            <h1>Summarize your PDF</h1>
            <p>Upload your file to get summarize</p>
        </header>

        <main class="main">
            <div class="controls">
                <label for="total-input-files">Berapa file yang ingin di-upload?</label>
                <input type="number" id="total-input-files" value="1" min="0" max="10">
                <button type="button" id="generate-upload-slots" class="btn-secondary">Submit</button>
            </div>

            <form id="upload-form">
                <div id="upload-slots-container"></div>
                
                <button type="submit" id="upload-btn" class="btn-primary" style="display: none;">Mulai Upload</button>
            </form>
        </main>
    </div>
{% endblock %}