{% extends "layout.html" %}
{% load static %}

{% block title %} PDF Summarizer {% endblock %}

{% block content %}
<div class="container">
    <header class="header">
        <h1>Upload Dokumen PDF</h1>
        <p>Seret dan letakkan file ke zona di bawah ini untuk mendapatkan ringkasan</p>
    </header>

    <main class="main">
        <div id="drop-zone">
            <div id="drop-zone-text">
                <p>Letakkan file disini</p>
                <input type="file" id="file-input" multiple hidden>
            </div>
        </div>

        <div id="progress-preview-area">
             </div>

        <div class="upload-button-container">
            <button type="button" id="upload-btn" class="btn-primary" style="display: none;">Upload Files</button>
        </div>
    </main>
</div>
{% endblock %}